#hero-unit.max-width
  %header.inner
    %a#project-1{ href: 'https://github.com/notalex/automux', target: '_blank' } Automux
    %a#project-2{ href: 'https://github.com/notalex/vim-run-live', target: '_blank' } vim-run-live
    %h1.title Alex Johnson
    %h2.tagline Ruby Lore Master
    .phone
      08306746566
#container.max-width
  %section#main-content.inner
    :textile

      bq.  I have about 18 months of experience working on production level Rails applications. Most of my work had been around a single application which I have helped build up from its very inception.

      h3. "iKonverse":iKonverse

      iKonverse is a corporate collaboration platform based on ideas similar to Basecamp and Yammer. Its a multi-tenant application and hence can be used in different flavours. Some of its active tenants involve Dermatologists and Stock Traders.

      I worked in a team of 2 people with some guidance from a Chicago based Technical Advisor who also works for Groupon. Here are some of the complexities that I handled for this application:

      * Maintaining multiple backend server processes
      * Using HTML5 canvas for more performant animations
      * Maintaining a consistent interface among multiple tenants
      * Different types of paid Groups with a wide range of configuration options
      * A system to convert email replies into relevant thread's comment

      There are tons of other things like _payment integration_, _Calendars_, _Polls_ and lots of front end javascript work that I have done in the application. I have followed test first approach for certain parts while test later for most others. The application is still under Beta and will see a lot of code before it sees its first launch.

      h3. The important stuff

      I do not expect you to consider my candidature just based on my web application building skills. I understand that it's something that most developers can do. It's the quality of work that differentiates talent and I can only show that through my open source contributions.

      I also handle the hiring process for new Rails developers for my Company. Knowing web framework centric stuff is certainly important but I long for candidates who can understand simple design decisions like why use @public_send@ over @send@, writing smaller well named methods, atomic commits or that Fat models are not the ultimate solution.

      I constantly try to find better ways to get productive and automate most of my daily tasks. I know a decent amount of Bash scripting for my automation needs.

      h3. About me

      I am an Electronics Engineer who has juggled with several different careers before getting into programming. I try to put in more amount of hardwork to make up for my lost years.
      [iKonverse]https://ikonverse.com

#footer.max-width
  %footer.inner
