#hero-unit.max-width
  %header.inner
    %a#banner{ href: 'javascript' } GitHub
    %h1.title Alex Johnson
    %h2.tagline Ruby Lore Master
#container.max-width
  %section#main-content.inner
#footer.max-width
  %footer.inner
